h1, p, body, html {
    margin:0;
    padding:0;
}

body {
    background-color:#EEEEEE; 
}

#container {
    width:100%;
}

#header { 
    background-color:grey;
    color : white;	
}

#header h1 {
    margin-bottom: 0px;
}	

#content {
    float:left;
    width:100%;
}

#footer {
    clear:both;	/*No floating elements are allowed on left or right*/
    background-color:grey;
    color : white;	
    text-align:center;
    font-weight: bold;
    position:absolute;
    bottom:0;
    width:100%;
}

.errorMessage {
    color: red;
}

input[type="submit"], input[type="button"] {
	padding : 10px;
}